@import url('https://fonts.googleapis.com/css?family=Slabo 27px');

.NavBar {
  position: relative;
  padding: 0;
  margin: 0;
  border-width: 0;
  width: 50vw;
  display: flex;
  justify-content: space-between;
}
.NavBarLink{
  display: inline;
  padding: 3%;
  color: #EEEEF1;
  text-decoration: none;
}
.NavBarLink:hover {
  color: #CD6878;
}

.CenterDisplay {
  position: relative;
  display:flex;
  height: 100%;
  width: 100%;
}

.LeftSideDisplay {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  text-align: center;
  background-color: #003CA6;
}
.LeftSideTitle {
  padding: 10%;
}
.LeftSideContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  font-size: 1.2em;
  color: #EEEEF1;
}

.ContactBar {
  position: fixed;
  display: flex;
  height: 10vh;
  top: 90vh;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
}

.Project:hover {
  color: #CD6878;
}

.RightSideDisplay {
  position: relative;
  display: flex;
  height: 100vh;
  width: 50vw;
  background-color: black;
  align-items: center;
}

.RightSideImage {
  position: relative;
  display: block;
  height: 100vh;
  width: 50vw;
  margin: auto;
}

.GitHubLogo {
  width: 90px;
  height: 20px;
}
.AngelListLogo {
  width: 90px;
  height: 20px;
}
.GmailLogo {
  width: 25px;
  height: 21px;
}
body {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  height: 100vh;
  width: 100vw;
  font-family:'Slabo 27px';
}

.HomeText {
  padding: 10%;
}