.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.CenterDisplay {
  position: relative;
  display: flex;
}
.NavBar {
  position: relative;
  display: flex;
  background-color: grey;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
}
.NavBarLink {
}

.HomePageImage {
  position: fixed;
  top: 25vh;
  height: 40vh;
}

.CenterDisplayTitle {
  position: relative;
  display: inline-flex;

}
.CenterDisplayText {

}
